<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/headerlinks')%>
    <link rel="stylesheet" href="/css/checkout.css" />
    <script src="https://js.stripe.com/v3/"></script>
    <script>
      const stripePub = "<%=process.env.STRIPE_PUBLIC_KEY%>";
    </script>
    <title>Stripes</title>
  </head>
  <body>
    <header><%-include('../partials/navbar')%></header>
    <section id="checkout">
      <div class="checkout-container">
        <div class="products-info">
          <div class="test-data mb">
            <p>Test CC Number: 4111111111111111</p>
            <p>Test Exp Date: 12/23</p>
            <p>Test CVC: 232</p>
          </div>
        </div>
        <div class="card-form">
          <form id="payment-form">
            <div id="payment-element"></div>
            <button id="submit">
              <div class="spinner hidden" id="spinner"></div>
              <span id="button-text"
                ><i class="fa-solid fa-cash-register"></i> Pay now</span
              >
            </button>
            <div id="payment-message" class="hidden"></div>
          </form>
        </div>
      </div>
    </section>
    <%-include('../partials/footer')%> <%-include('../partials/bodyscripts')%>
    <script src="/js/pubcheckout.js"></script>
  </body>
</html>
