<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/headerlinks')%>
    <title>Stripes</title>
  </head>
  <body>
    <header><%-include('../partials/navbar')%></header>
    <h1>Sign In</h1>
    <form action="/user/login" method="POST">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
      <button>Submit</button>
    </form>
    <% if(success) { %>
    <div><%=success%></div>
    <%-include('../partials/footer')%> <%}%>
    <%-include('../partials/bodyscripts')%>
  </body>
</html>
