<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/userupdate.css" />
    <%- include('../partials/headerlinks')%>
    <title>Stripes</title>
  </head>
  <body>
    <header><%-include('../partials/navbar')%></header>
    <section id="user-info">
      <h1>...Update...</h1>
      <form action="/user/<%=currentUser._id%>?_method=PATCH" method="POST">
        <div class="user-info-container">
          <div class="grid-item">
            <h2>Billing Information</h2>
            <div class="form-group">
              <div>
                <label for="billstreet">Street Address</label>
              </div>
              <div>
                <input
                  value="<%=currentUser.billaddress.street%>"
                  type="text"
                  name="billstreet"
                  id="billstreet"
                />
              </div>
            </div>
            <div class="form-group">
              <div>
                <label for="billstreet2">Apt # / Suite #</label>
              </div>
              <div>
                <input
                  value="<%=currentUser.billaddress.street2%>"
                  type="text"
                  name="billstreet2"
                  id="billstreet2"
                />
              </div>
            </div>
            <div class="form-group">
              <div>
                <label for="billcountry">Country</label>
              </div>
              <div>
                <input
                  value="<%=currentUser.billaddress.country%>"
                  type="text"
                  name="billcountry"
                  id="billcountry"
                />
              </div>
            </div>
            <div class="form-group">
              <div>
                <label for="billcity">City</label>
              </div>
              <div>
                <input
                  value="<%=currentUser.billaddress.city%>"
                  type="text"
                  name="billcity"
                  id="billcity"
                />
              </div>
            </div>
            <div class="form-group">
              <div>
                <label for="billstate">State</label>
              </div>
              <div>
                <input
                  value="<%=currentUser.billaddress.state%>"
                  type="text"
                  name="billstate"
                  id="billstate"
                />
              </div>
            </div>
            <div class="form-group">
              <div>
                <label for="billpostal">Postal Code</label>
              </div>
              <div>
                <input
                  value="<%=currentUser.billaddress.postal%>"
                  type="text"
                  name="billpostal"
                  id="billpostal"
                />
              </div>
            </div>
          </div>
          <div class="grid-item">
            <h2>Shipping Information</h2>
            <div class="form-group">
              <div>
                <label for="billstreet">Street Address</label>
              </div>
              <div>
                <input
                  value="<%=currentUser.shipaddress.street%>"
                  type="text"
                  name="shipstreet"
                  id="shipstreet"
                />
              </div>
            </div>
            <div class="form-group">
              <div>
                <label for="shipstreet2">Apt # / Suite #</label>
              </div>
              <div>
                <input
                  value="<%=currentUser.shipaddress.street2%>"
                  type="text"
                  name="shipstreet2"
                  id="shipstreet2"
                />
              </div>
            </div>
            <div class="form-group">
              <div>
                <label for="shipcountry">Country</label>
              </div>
              <div>
                <input
                  value="<%=currentUser.shipaddress.country%>"
                  type="text"
                  name="shipcountry"
                  id="shipcountry"
                />
              </div>
            </div>
            <div class="form-group">
              <div>
                <label for="shipcity">City</label>
              </div>
              <div>
                <input
                  value="<%=currentUser.shipaddress.city%>"
                  type="text"
                  name="shipcity"
                  id="shipcity"
                />
              </div>
            </div>
            <div class="form-group">
              <div>
                <label for="shipstate">State</label>
              </div>
              <div>
                <input
                  value="<%=currentUser.shipaddress.state%>"
                  type="text"
                  name="shipstate"
                  id="shipstate"
                />
              </div>
            </div>
            <div class="form-group">
              <div>
                <label for="shippostal">Postal Code</label>
              </div>
              <div>
                <input
                  value="<%=currentUser.shipaddress.postal%>"
                  type="text"
                  name="shippostal"
                  id="shippostal"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="grid-item buttons">
          <button class="btn-update">Update Info</button>
        </div>
      </form>
    </section>
    <%-include('../partials/footer')%> <%-include('../partials/bodyscripts')%>
    <script src="/js/pubuserupdate.js"></script>
  </body>
</html>
