<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/headerlinks')%>
    <link rel="stylesheet" href="/css/productshow.css" />
    <title>Stripes</title>
  </head>
  <body>
    <header><%-include('../partials/navbar')%></header>
    <section id="create-product">
      <div class="product-flex">
        <div class="prod-img">
          <img src="<%=product.imgurl%>" alt="" />
        </div>
        <div class="prod-info">
          <%if(success && success.length > 0) {%>
          <div class="success"><%=success%></div>
          <%}%>
          <div class="mb">
            <h2 class="title"><%=product.name%></h2>
            <div class="dark-divide"></div>
            <p class="description"><%=product.description%></p>
          </div>

          <div>
            <%if((product.smallinstock+product.mediuminstock+product.larginstock)
            > 1){%>
            <div class="stock">
              Availability: <span class="underline-warning">OUT OF STOCK</span>
            </div>
            <%}%>
            <div class="stock mb">
              Availability: <span class="underline-okay">IN STOCK</span>
            </div>
            <div class="mb">
              <p class="price">
                Price: $<%=parseFloat(product.price).toFixed(2)%>
              </p>
            </div>
            <div class="order mb">
              <select name="size" id="size">
                <%if(product.smallinstock > 0) {%>
                <option value="small">Small</option>
                <%}%> <%if(product.mediuminstock > 0) {%>
                <option value="small">Medium</option>
                <%}%> <%if(product.largeinstock > 0) {%>
                <option value="small">Large</option>
                <%}%>
              </select>
            </div>
            <div class="buttons">
              <div class="button">
                <a
                  class="btn-update"
                  href="/cart/<%=product._id%>"
                  id="addToCart"
                  >Add to Cart</a
                >
              </div>
              <%if(currentUser && currentUser.isadmin === true){%>
              <div>
                <form action="/products/<%=product._id%>/update" method="GET">
                  <button id="updateProduct">Update Product</button>
                </form>
              </div>
              <div>
                <form
                  action="/products/<%=product._id%>?_method=DELETE"
                  method="POST"
                >
                  <button id="deleteProduct">Delete Product</button>
                </form>
              </div>
              <%}%>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%-include('../partials/footer')%> <%-include('../partials/bodyscripts')%>
  </body>
</html>
