<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/headerlinks')%>
    <link rel="stylesheet" href="/css/products.css" />
    <title>Stripes</title>
  </head>
  <body>
    <header><%-include('../partials/navbar')%></header>
    <section id="products">
      <div class="products-content">
        <div class="featured-message">
          <div class="divide-dark"></div>
          <h1>Featured this season!</h1>
          <div class="divide-dark"></div>
        </div>
        <div class="featured-products">
          <% for(let product of products) {%> <%if(product.featured === true){%>
          <div class="product">
            <div class="prod-img">
              <img src="<%=product.imgurl%>" alt="" />
            </div>
            <div class="prod-content-blue">
              <div>
                <p class="prod-title"><%=product.name%></p>
                <div class="divide"></div>
                <p><%=product.description%></p>
                <div class="divide"></div>
              </div>
              <div class="hover-info">
                <p class="price">$<%=parseFloat(product.price).toFixed(2)%></p>
                <a class="view-prod" href="products/<%=product._id%>">Shop</a>
              </div>
            </div>
          </div>
          <%}%> <%}%>
        </div>
        <div class="divide-dark"></div>
        <h2>All Products</h2>
        <div class="divide-dark"></div>
      </div>
      <div class="products-grid">
        <% for(let product of products) {%>
        <div class="product">
          <div class="prod-img">
            <img src="<%=product.imgurl%>" alt="" />
          </div>
          <div class="prod-content">
            <div>
              <p class="prod-title"><%=product.name%></p>
              <div class="divide"></div>
              <p><%=product.description%></p>
              <div class="divide"></div>
            </div>
            <div class="hover-info">
              <p class="price">$<%=parseFloat(product.price).toFixed(2)%></p>
              <a class="view-prod" href="products/<%=product._id%>">Shop</a>
            </div>
          </div>
        </div>
        <%}%>
      </div>
    </section>
    <%-include('../partials/footer')%> <%-include('../partials/bodyscripts')%>
  </body>
</html>
